/* src/GameLibrary.css */
.game-library {
    text-align: center;
    padding: 20px;
  }
  
  .game-library h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  form div {
    margin-bottom: 15px;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="number"] {
    width: calc(100% - 12px);
    padding: 5px;
    font-size: 1em;
  }
  
  form button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .game-list {
    margin-top: 20px;
  }
  
  .game-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: calc(100% - 10px);
    max-width: 350px;
    height: 350px;
  } 
  